* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

h1 {
    color: #522DA4;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 5%;
    margin-left: 8%;
}
.card-title, h2, h3 {
    color: #522DA4;
    font-weight: bolder;

}

h4, h5 {
    color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
}

.nav {
    background-color: #522DA4;
    color: white;
    width: 100%;
    height: 62px;    
    text-align: center;
    align-content: center;
}

.left {
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 15%;
}

.right {
    text-align: center;
}

.logo {
    width: 70%;
    height: 78%;
    margin-left: 10%;
    margin-top: 25px;
}

.mr-3 {
    width: 20%;
}


.imglive {
    text-align: center;
    align-content: center;
    width: 77%;
    margin-bottom: 15%;
}

.progress {
    margin-bottom: 10%;
}

.card{
    margin-left: 15%;
    text-align: left;
    margin-bottom: 5%
}

.card1 {
    background-color: #522DA4;
}
